version: "3.8"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: laravel-app
        volumes:
            - .:/var/www/html
            - ./logs:/var/www/html/storage/logs # Laravel logs host मा save गर्न
        networks:
            - laravel
        depends_on:
            - mysql
        environment:
            - APP_ENV=local
            - LOG_CHANNEL=stack
        command: >
            sh -c "php-fpm -F"   # php-fpm foreground mode

    web:
        image: nginx:latest
        container_name: laravel-nginx
        ports:
            - "8000:80"
        volumes:
            - .:/var/www/html
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
        networks:
            - laravel
        depends_on:
            - app

    mysql:
        image: mysql:8
        container_name: laravel-mysql
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: laravel
        ports:
            - "3306:3306"
        networks:
            - laravel
        volumes:
            - db_data:/var/lib/mysql # Persist MySQL data

volumes:
    db_data:

networks:
    laravel:
        driver: bridge
