version: "3.8"

services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: laravel-app
        volumes:
            - .:/var/www/html
            # Map host ./logs/laravel to the container's log folder
            - ./logs/laravel:/var/www/html/storage/logs
        networks:
            - laravel
        depends_on:
            - mysql
        environment:
            - APP_ENV=local
            - LOG_CHANNEL=stack
        # Use tee to save PHP-FPM system output to a file AND show it in console ...
        command: >
            sh -c "php-fpm -F 2>&1 | tee /var/www/html/storage/logs/php-fpm.log"

    web:
        image: nginx:latest
        container_name: laravel-nginx
        ports:
            - "8000:80"
        volumes:
            - .:/var/www/html
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
            # Map host ./logs/nginx to container log directory
            # This breaks the default symlink to stdout and writes to files instead
            - ./logs/nginx:/var/log/nginx
        networks:
            - laravel
        depends_on:
            - app

    mysql:
        image: mysql:8
        container_name: laravel-mysql
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: laravel
        ports:
            - "3306:3306"
        networks:
            - laravel
        volumes:
            - db_data:/var/lib/mysql

volumes:
    db_data:

networks:
    laravel:
        driver: bridge
